h1 {
  @apply text-nvim-primary;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-primary), transparent 40%));
  font-weight: 700;
}

h2,
h3,
h4 {
  @apply text-nvim-primary;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-primary), transparent 50%));
  font-weight: 600;
}

h5 {
  @apply text-nvim-primary;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-primary), transparent 40%));
  font-weight: 500;
}

h6 {
  @apply text-nvim-primary;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-primary), transparent 40%));
  font-weight: 400;
}

a {
  @apply text-nvim-text-link;
  filter: drop-shadow(0px 0px 4px color-mix(in srgb, var(--nvim-text-link), transparent 60%));

  &:hover {
    @apply text-nvim-text-linkDark/80;
  }
  &:active {
    @apply text-nvim-text-linkDark;
  }
}

strong {
  @apply text-nvim-text-primaryDark;
  filter: drop-shadow(0px 0px 4px color-mix(in srgb, var(--nvim-text-primaryDark), transparent 80%));
}

p {
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--color-white), transparent 75%));

  * {
    @apply drop-shadow-none;
  }
}

::selection {
  @apply text-nvim-text-selection bg-nvim-bg-text-selection;
}

hr {
  @apply border-nvim-placeholder/80;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-placeholder), transparent 20%));
}

ol {
  @apply list-decimal;
}

ul {
  &.contains-task-list {
    @apply pl-0;
  }

  &:not(.contains-task-list) {
    li {
      @apply relative;
  
      &:before {
        @apply absolute -left-6 top-3 bg-nvim-text-primaryDark w-1 h-1 rounded-full;
        content: "";
      }
    }
  }
}

ol, ul {
  ol, ul {
    &:before {
      @apply absolute -left-7 h-full border-l border-l-nvim-placeholder;
      content: "";
    }
  }
}

ol > li, ul > li {
  filter: drop-shadow(0px 0px 6px color-mix(in srgb, var(--color-white), transparent 75%));
  ul, ol, li, p {
    @apply drop-shadow-none;
  }
}


blockquote {
  @apply border border-nvim-primary text-nvim-primary;
  filter: drop-shadow(0px 0px 8px color-mix(in srgb, var(--nvim-primary), transparent 95%));
}

del {
  text-decoration-color: var(--nvim-error);
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

kbd {
  @apply text-nvim-text-secondary;
}

mark {
  @apply bg-transparent text-nvim-text-primaryDark;
  text-decoration-color: var(--nvim-primary);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;

  font-weight: 700;
}

table {
  @apply w-full bg-nvim-bg-paper/40 rounded-t-lg;

  thead tr:nth-child(1) {
    @apply rounded-t-lg border-b border-b-nvim-text-primaryDark;
  }

  tbody tr:nth-child(odd) {
    @apply bg-nvim-bg-paper/60;
  }

  tbody tr:hover {
    @apply bg-nvim-bg-paper/80;
  }

  th, td {
    @apply p-1.5 !important;
  }

  thead {
    tr {
      th {
        @apply text-nvim-text-primaryDark;
        font-weight: 700;
      }
    }
  }
}

code {
  @apply text-nvim-bg-text-selection;
}